body{
    padding: 0 0 10px 0;
}
.col{
    display: inline;
}
#photoShow{
    margin: 5px 0 0 85px;
}
#header{
    width: 960px;
}
#nav{
    margin: 10px 15px 0 0;
}
#teacher-container ul li{
    width: 150px;
}
#teacher-container ul{
    width: 900px;
}