/* -- fixes for ie7 -- */

body{
	margin: 0 0 10px 0;
}
div#photoShow{
	left: 50%;
	margin-left: -485px;
}
.vidCont li p{
	margin: 5px 0 25px 0;
}

/* -- teachers page styles --*/

#teachersPros{
	margin: 0;
	width: 920px;
}
.teachTitle{
	margin: 30px 0 0 0;
}
#teachersTitle{
	margin: 10px 0 0 20px;
}
#nav{
	width: 580px;
}
.overlay{
	filter: alpha(opacity = 60);	
}
